<form [formGroup]="busninessForm"
      (ngSubmit)="sendForm()">
  <div class="row">
    <div class="col-md-5 pr-1">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control"
               formControlName="name" />
      </div>
    </div>
    <div class="col-md5 pl-1">
      <div class="form-group">
        <label>Logo</label>
        <div class="logo-wrap">
          <div *ngIf="business.logotype"
               class="logo-image">
            <img [src]="business.logotype"
                 width="150">
          </div>
          <input class="form-control"
                 type="file"
                 (change)="selectFile($event, 'logotype')" />
        </div>
      </div>
    </div>

  </div>
  <div class="form-group">
    <label>Type</label>
    <select class="form-control"
            formControlName="type">
      <option value="BAR">Bar</option>
      <option value="RES">Restaurant</option>
      <option value="PUB">Pub</option>
    </select>
  </div>
  <div>
    <h5 class="text-primary">Languages</h5>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Delete</th>
        <th>Default</th>
      </tr>
      <tr *ngFor="let lang of languagesForm.controls; index as i">
        <td> {{lang.value.name}} </td>
        <td><button type="button"
                  [disabled]="languagesForm.controls.length === 1"
                  class="btn btn-secondary"
                  (click)="removeLanguage(i)">Remove</button></td>
        <td><button type="button"
                  *ngIf="busninessForm.value.default_lang !== lang.value.code; else defaultLang"
                  class="btn btn-info"
                  (click)="setLanguageAsDefault(lang.value.code)">SetAsDefault</button>
          <ng-template #defaultLang>
            Is default
          </ng-template>
        </td>
      </tr>
    </table>
    <div class="form-group-inline"
         formGroupName="addLanguage"
         *ngIf="languages.length !== languagesForm.controls.length ">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-secondary"
                  type="button"
                  [disabled]="busninessForm.get('addLanguage').invalid"
                  (click)="addLanguage()">Add</button>
        </div>
        <select class="form-control"
                formControlName="code">
          <option [ngValue]="null">Select one language…</option>
          <option *ngFor="let lang of languages | filterLanguages : languagesForm.value"
                  [value]="lang.code">{{lang.name}}</option>
        </select>
      </div>

    </div>
  </div>

  <div formGroupName="address">
    <h5 class="text-primary">Address</h5>

    <div class="form-group">
      <app-set-address (addressChange)="addressChange($event)"></app-set-address>
    </div>
    <div class="form-group">
      <label>Address</label>
      <input class="form-control"
             formControlName="address" />
    </div>
    <div class="row">
      <div class="col-md-4 pr-1">
        <div class="form-group">
          <label>City</label>
          <input class="form-control"
                 formControlName="city" />
        </div>
      </div>
      <div class="col-md-4 px-1">
        <div class="form-group">
          <label>Postal code</label>
          <input class="form-control"
                 type="number"
                 formControlName="postal_code" />
        </div>
      </div>
      <div class="col-md-4 pl-1">
        <div class="form-group">
          <label>State/Province</label>
          <input class="form-control"
                 formControlName="state" />
        </div>
      </div>
    </div>
  </div>
  <div formGroupName="options">
    <h5 class="text-primary">Options</h5>
    <div class="form-group">
      <label>Font</label>
      <select class="form-control"
              formControlName="font">
        <optgroup *ngFor="let group of fonts"
                  [label]="group.group">
          <option *ngFor="let font of group.fonts"
                  [value]="font">{{font}}</option>
        </optgroup>
      </select>
    </div>
  </div>
  <div formGroupName="contact">
    <h5 class="text-primary">Contact</h5>
    <div class="form-group">
      <label>Phone</label>
      <input class="form-control"
             formControlName="phone" />
    </div>
    <div class="form-group">
      <label>Whatsapp</label>
      <input class="form-control"
             formControlName="whatsapp" />
    </div>
    <div class="form-group">
      <label>Email</label>
      <input class="form-control"
             formControlName="email" />
    </div>
  </div>
  <div formGroupName="social">
    <h5 class="text-primary">Social</h5>
    <div class="form-group">
      <label>Facebook</label>
      <input class="form-control"
             formControlName="facebook" />
    </div>
    <div class="form-group">
      <label>Instagram</label>
      <input class="form-control"
             formControlName="instagram" />
    </div>
    <div class="form-group">
      <label>Tiktok</label>
      <input class="form-control"
             formControlName="tiktok" />
    </div>
    <div class="form-group">
      <label>Youtube</label>
      <input class="form-control"
             formControlName="youtube" />
    </div>
    <div class="form-group">
      <label>Website</label>
      <input class="form-control"
             formControlName="web" />
    </div>
  </div>


  <div class="row">
    <div class="update ml-auto mr-auto">
      <button type="submit"
              [disabled]="busninessForm.invalid"
              class="btn btn-primary btn-round">Save</button>
    </div>
  </div>
</form>