<form class="col-lg-6"
      [formGroup]="busninessForm"
      (ngSubmit)="sendForm()">

  <div class="form-group text-right">
    <button class="btn btn-primary"
            type="submit">Save</button>
  </div>
  <div class="form-group">
    <label>Name</label>
    <input class="form-control"
           formControlName="name" />
  </div>
  <div class="form-group">
    <label>Logo</label>
    <div *ngIf="business.logotype">
      <img [src]="business.logotype"
           width="150">
    </div>
    <input class="form-control"
           type="file"
           (change)="selectFile($event, 'logotype')" />
  </div>
  <div class="form-group">
    <label>Type</label>
    <select class="form-control"
            formControlName="type">
      <option value="BAR">Bar</option>
      <option value="RES">Restaurant</option>
      <option value="PUB">Pub</option>
    </select>
  </div>
  <div>
    <h3>Languages</h3>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Delete</th>
        <th>Default</th>
      </tr>
      <tr *ngFor="let lang of languagesForm.controls; index as i">
        <td> {{lang.value.name}} </td>
        <td><button type="button"
                  [disabled]="languagesForm.controls.length === 1"
                  class="btn btn-secondary"
                  (click)="removeLanguage(i)">Remove</button></td>
        <td><button type="button"
                  *ngIf="busninessForm.value.default_lang !== lang.value.code; else defaultLang"
                  class="btn btn-info"
                  (click)="setLanguageAsDefault(lang.value.code)">SetAsDefault</button>
          <ng-template #defaultLang>
            Is default
          </ng-template>
        </td>
      </tr>
    </table>
    <div class="form-group-inline"
         formGroupName="addLanguage"
         *ngIf="languages.length !== languagesForm.controls.length ">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-secondary"
                  type="button"
                  [disabled]="busninessForm.get('addLanguage').invalid"
                  (click)="addLanguage()">Add</button>
        </div>
        <select class="form-control"
                formControlName="code">
          <option [ngValue]="null">Select one language…</option>
          <option *ngFor="let lang of languages | filterLanguages : languagesForm.value"
                  [value]="lang.code">{{lang.name}}</option>
        </select>
      </div>

    </div>
  </div>

  <div formGroupName="address">
    <h3>Address</h3>

    <div class="form-group">
      <app-set-address (addressChange)="addressChange($event)"></app-set-address>
    </div>
    <div class="form-group">
      <label>Address</label>
      <input class="form-control"
             formControlName="address" />
    </div>
    <div class="form-group">
      <label>City</label>
      <input class="form-control"
             formControlName="city" />
    </div>
    <!-- <div class="form-group">
      <label>Latitude</label>
      <input class="form-control"
             type="number"
             formControlName="lat" />
    </div>
    <div class="form-group">
      <label>Longitude</label>
      <input class="form-control"
             type="number"
             formControlName="lng" />
    </div> -->
    <div class="form-group">
      <label>Postal code</label>
      <input class="form-control"
             type="number"
             formControlName="postal_code" />
    </div>
    <div class="form-group">
      <label>State/Province</label>
      <input class="form-control"
             formControlName="state" />
    </div>
  </div>
  <div formGroupName="options">
    <div class="form-group">
      <label>Font</label>
      <select class="form-control"
              formControlName="font">
        <optgroup *ngFor="let group of fonts"
                  [label]="group.group">
          <option *ngFor="let font of group.fonts"
                  [value]="font">{{font}}</option>
        </optgroup>
      </select>
    </div>
  </div>
</form>