<form [formGroup]="busninessForm"
      (ngSubmit)="sendForm()">
  <div class="row">
    <div class="col-md-5 pr-1">
      <div class="form-group">
        <label translate>Name</label>
        <input class="form-control"
               formControlName="name" />
      </div>
    </div>
    <div class="col-md5 pl-1">
      <div class="form-group">
        <label translate>Logo</label>
        <div class="logo-wrap">
          <div *ngIf="business.logotype"
               class="logo-image">
            <img [src]="business.logotype"
                 width="150">
          </div>
          <input class="form-control"
                 type="file"
                 (change)="selectFile($event, 'logotype')" />
        </div>
      </div>
    </div>

  </div>
  <div class="form-group">
    <label translate>Type</label>
    <select class="form-control"
            formControlName="type">
      <option value="BAR"
              translate>Bar</option>
      <option value="RES"
              translate>Restaurant</option>
      <option value="PUB"
              translate>Pub</option>
    </select>
  </div>
  <div>
    <h5 class="text-primary"
        translate>Languages</h5>
    <table class="table">
      <tr>
        <th translate>Name</th>
        <th translate>Delete</th>
        <th translate>Default</th>
      </tr>
      <tr *ngFor="let lang of languagesForm.controls; index as i">
        <td> {{lang.value.name}} </td>
        <td><button type="button"
                  [disabled]="languagesForm.controls.length === 1"
                  class="btn btn-secondary"
                  (click)="removeLanguage(i)"
                  translate>Remove</button></td>
        <td><button type="button"
                  *ngIf="busninessForm.value.default_lang !== lang.value.code; else defaultLang"
                  class="btn btn-info"
                  (click)="setLanguageAsDefault(lang.value.code)"
                  translate>SetAsDefault</button>
          <ng-template #defaultLang>
            <span translate>
              Is default
            </span>
          </ng-template>
        </td>
      </tr>
    </table>
    <div class="form-group-inline"
         formGroupName="addLanguage"
         *ngIf="languages.length !== languagesForm.controls.length ">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-secondary"
                  type="button"
                  [disabled]="busninessForm.get('addLanguage').invalid"
                  (click)="addLanguage()"
                  translate>Add</button>
        </div>
        <select class="form-control"
                formControlName="code">
          <option [ngValue]="null"
                  translate>Select one language…</option>
          <option *ngFor="let lang of languages | filterLanguages : languagesForm.value"
                  [value]="lang.code">{{lang.name}}</option>
        </select>
      </div>

    </div>
  </div>

  <div formGroupName="address">
    <h5 class="text-primary"
        translate>Location</h5>

    <div class="form-group">
      <app-set-address (addressChange)="addressChange($event)"></app-set-address>
    </div>
    <div class="form-group">
      <label translate>Address</label>
      <input class="form-control"
             formControlName="address" />
    </div>
    <div class="row">
      <div class="col-md-4 pr-1">
        <div class="form-group">
          <label translate>City</label>
          <input class="form-control"
                 formControlName="city" />
        </div>
      </div>
      <div class="col-md-4 px-1">
        <div class="form-group">
          <label translate>Postal code</label>
          <input class="form-control"
                 type="number"
                 formControlName="postal_code" />
        </div>
      </div>
      <div class="col-md-4 pl-1">
        <div class="form-group">
          <label translate>State/Province</label>
          <input class="form-control"
                 formControlName="state" />
        </div>
      </div>
    </div>
  </div>
  <div>
    <h5 class="text-primary"
        translate>Options</h5>
    <ng-container formGroupName="options">
      <div class="form-group">
        <label translate>Font</label>
        <select class="form-control"
                formControlName="font">
          <optgroup *ngFor="let group of fonts"
                    [label]="group.group">
            <option *ngFor="let font of group.fonts"
                    [value]="font">{{font}}</option>
          </optgroup>
        </select>
      </div>
    </ng-container>
    <div class="form-group">
      <label translate>Template</label>
      <select class="form-control"
              formControlName="template_id">
        <option [ngValue]="null"
                translate>Default</option>
        <option *ngFor="let tmp of templates"
                [value]="tmp.id">{{tmp.name}}</option>
      </select>
    </div>
  </div>
  <div formGroupName="contact">
    <h5 class="text-primary"
        translate>Contact</h5>
    <div class="form-group">
      <label translate>Phone</label>
      <input class="form-control"
             formControlName="phone" />
    </div>
    <div class="form-group">
      <label translate>Whatsapp</label>
      <input class="form-control"
             formControlName="whatsapp" />
    </div>
    <div class="form-group">
      <label translate>Email</label>
      <input class="form-control"
             formControlName="email" />
    </div>
  </div>
  <div formGroupName="social">
    <h5 class="text-primary"
        translate>Social</h5>
    <div class="form-group">
      <label translate>Facebook</label>
      <input class="form-control"
             formControlName="facebook" />
    </div>
    <div class="form-group">
      <label translate>Instagram</label>
      <input class="form-control"
             formControlName="instagram" />
    </div>
    <div class="form-group">
      <label translate>Tiktok</label>
      <input class="form-control"
             formControlName="tiktok" />
    </div>
    <div class="form-group">
      <label translate>Youtube</label>
      <input class="form-control"
             formControlName="youtube" />
    </div>
    <div class="form-group">
      <label translate>Website</label>
      <input class="form-control"
             formControlName="web" />
    </div>
  </div>


  <div class="row">
    <div class="update ml-auto mr-auto">
      <button type="submit"
              [disabled]="busninessForm.invalid"
              class="btn btn-primary btn-round"
              translate>Save</button>
    </div>
  </div>
</form>