<form [formGroup]="accountForm"
      (ngSubmit)="sendForm()">
    <div class="row">
        <div class="col-md-7 pr-1">
            <div class="form-group">
                <label translate>Name</label>
                <input class="form-control"
                       formControlName="name" />
            </div>
        </div>
        <div class="col-md-5 pl-1">
            <div class="form-group">
                <label translate>Last name</label>
                <input class="form-control"
                       formControlName="lastname" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="update ml-auto mr-auto">
            <button type="submit"
                    class="btn btn-primary btn-round"
                    translate>Save</button>
        </div>
    </div>
</form>