<div class="row"
     *ngIf="user$ | async as user;else loading">

  <div class="col-md-6">
    <div class="card card-user">
      <div class="image">
        <app-brand-image width="100%"
                         type="background"></app-brand-image>
      </div>
      <div class="card-body">
        <div class="author">
          <a [routerLink]="['..']">
            <img class="avatar border-gray"
                 [src]="user.thumbnail"
                 alt="...">
            <h5 class="title">{{user.name}}</h5>
          </a>
          <p class="description">
            {{user.email}}
          </p>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
          <a routerLink="edit">
            <button class="btn btn-primary">Edit</button></a>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>