<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            <li routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}"
                class="list-group-item d-flex justify-content-between align-items-center">
                <a routerLink="."
                   translate
                   routerLinkActive="active-anchor"
                   [routerLinkActiveOptions]="{exact:true}">Resume</a>
            </li>
            <li routerLinkActive="active"
                class="list-group-item d-flex justify-content-between align-items-center">
                <a routerLink="categories"
                   translate
                   routerLinkActive="active-anchor">Categories</a>
            </li>
            <li routerLinkActive="active"
                class="list-group-item d-flex justify-content-between align-items-center">
                <a routerLink="products"
                   translate
                   routerLinkActive="active-anchor">Products</a>
            </li>
            <li routerLinkActive="active"
                class="list-group-item d-flex justify-content-between align-items-center">
                <a routerLink="highlighted-products"
                   translate
                   routerLinkActive="active-anchor">Products offers</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <router-outlet></router-outlet>
    </div>
</div>