<div class="row">

  <div class="col-md-4 mt-3">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-single-02 text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8"
               *ngIf="account$ | async as account ; else loading">
            <div class="numbers">
              <p class="card-category">Hello</p>
              <p class="card-title">{{account.name}}
              <p>
            </div>
          </div>
        </div>


      </div>
      <div class="card-footer">
        <hr>
        <a routerLink="account">
          Go
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mt-3"
       *ngIf="isAdmin">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-laptop text-info"></i>
            </div>
          </div>
          <div class="col-7 col-md-8"
               *ngIf="accounts$ | async as account ; else loading">
            <div class="numbers">
              <p class="card-category">Accounts</p>
              <p class="card-title">x{{account.length}}
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <a routerLink="account-list">
          Go
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-4 mt-3">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-shop text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8"
               *ngIf="business$ | async as business; else loading ">
            <div class="numbers">
              <p class="card-category">Business</p>
              <p class="card-title">x{{business.length}}
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <a routerLink="business">
          Go
        </a>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>