$footerHeight: 40px;

app-header {
  position: absolute;
  width: 100%;
}
footer {
  width: 100%;
  background-color: #343a40;
  color: white;
  padding: 8px;
  text-align: center;
  height: $footerHeight;
}
.main-container {
  padding-top: 80px;
  min-height: calc(100% - #{$footerHeight});
  // display: flex;
  nav {
    flex: 0 0 250px;
  }
  section {
    flex: 1;
  }
}
