<app-header [title]="appInfo.name"
            [user]="user$ | async"
            [isUserLogged]="isUserLogged"
            (logoutHandler)="logoutHandler()"
            (loginHandler)="loginHandler()"></app-header>
<div class="main-container d-flex">
    <nav class="sidebar"
         *ngIf="isUserLogged">
        <router-outlet name="sidebar"></router-outlet>
    </nav>
    <section class="container-fluid">
        <router-outlet class="row"> </router-outlet>
    </section>
</div>
<footer>
    © {{appInfo.name}} <small>{{appInfo.version}}</small>
</footer>