<div class="wrapper">
    <div class="sidebar"
         *ngIf="user$ | async"
         data-color="white"
         data-active-color="danger">
        <sidebar-cmp></sidebar-cmp>
    </div>
    <div class="main-panel {{ (user$ | async) ? '' : 'full'}}">
        <navbar-cmp [user]="user$ | async"
                    [isUserLogged]="isUserLogged"
                    (logoutHandler)="logoutHandler()"
                    (loginHandler)="loginHandler()"></navbar-cmp>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <footer-cmp [version]="appInfo.version"
                    [name]="appInfo.name"></footer-cmp>
    </div>
</div>