<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand"
       *ngIf="!isMaingPage"
       (click)="goBack()">&lt;</a>
    <a class="navbar-brand"
       routerLink="/">
      <img src="../assets/brand/latevacarta_imago-color.svg"
           width="30"
           height="30"
           class="d-inline-block align-top"
           alt="">
      <app-brand-image height="30"
                       class="d-inline-block align-top"
                       type="imago-color"></app-brand-image>
      <img height="40"
           src="../assets//brand/latevacarta_horizontal-negative.svg">
    </a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"
          *ngIf="!isUserLogged">
        <a class="nav-link">
          <button type="button"
                  class="btn btn-outline-light btn-sm"
                  (click)="login()"
                  translate>Login</button></a>
      </li>
      <li class="nav-item"
          *ngIf="isLoggedUserInError">
        <a class="nav-link">
          <button type="button"
                  class="btn btn-outline-light btn-sm"
                  (click)="login()"
                  translate>Logout</button></a>
      </li>
      <li class="nav-item dropdown"
          *ngIf="isUserLogged && user">
        <a class="nav-link dropdown-toggle"
           id="navbarDropdown"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          <img [src]="user.thumbnail"
               width="30"
               height="30" /> {{user.username }}</a>
        <div class="dropdown-menu dropdown-menu-right text-right"
             aria-labelledby="navbarDropdown">
          <a class="dropdown-item"
             translate
             routerLink="/account"
             href="#">Account</a>
          <a class="dropdown-item">
            <button id="qsLogoutBtn"
                    type="button"
                    class="btn-margin logoutBtn btn btn-danger"
                    (click)="logout()"
                    translate>Log Out</button></a>
        </div>
      </li>
    </ul>
  </nav>
</header>