<div class="sidebar-wrapper">
  <div class="logo">
    <a [routerLink]="['/']">
      <app-brand-image height="53px"
                       type="horizontal-color"></app-brand-image>
    </a>
  </div>
  <ul class="nav">
    <li *ngFor="let menuItem of menuItems"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: menuItem.isExact}"
        class="{{menuItem.class}}">
      <a [routerLink]="[menuItem.path]">
        <i class="nc-icon {{menuItem.icon}}"></i>
        <p>{{menuItem.title | translate}}</p>
      </a>
    </li>
  </ul>
</div>