<div class="col-md-8">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title text-primary">Create business</h4>
    </div>
    <div class="card-body">
      <ng-container *ngIf="languages$ | async as languages; else  loading">
        <app-business-form [business]="defaultBusiness"
                           [languages]="languages"
                           (submitForm)="sendForm($event)"></app-business-form>
      </ng-container>
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>