:host {
  display: block;
  .qr-print-wrapper {
    text-align: center;
    &.hide {
      position: fixed;
      top: -1999999px;
    }
    .business-name {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .card-body {
    display: flex;
    flex-direction: column;
  }
  .qr-preview {
    border: 1px solid #a0a0a0;
    margin: 20px auto;
    display: inline-block;
    align-self: center;
  }
}
