<table class="table"
       *ngIf="business$ | async as businesses; else loading">
    <tr *ngIf="businesses.length">
        <th><a [routerLink]="['create']">+</a></th>
        <th>Name</th>
        <th>QR</th>
        <th>Catalog</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr *ngFor="let business of businesses">
        <td colspan="2"><a [routerLink]="[business.id]">{{business.name}}</a></td>
        <td><a [routerLink]="[business.id, 'qr']">QR</a></td>
        <td><a [routerLink]="[business.id,'catalog']">See</a></td>
        <td><a [routerLink]="[business.id, 'edit']">Edit</a></td>
        <td><a (click)="removeBusiness(business.id)"
               routerLink=".">Delete</a></td>
    </tr>
    <tr *ngIf="!businesses.length">
        <td>There are any business <a [routerLink]="['create']">create your first one</a></td>
    </tr>
</table>
<ng-template #loading>
    <app-loader></app-loader>
</ng-template>