<div class="card">
    <div class="card-header">
        <h4 class="card-title"
            translate>Business</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table"
                   *ngIf="business$ | async as businesses; else loading">
                <tr *ngIf="businesses.length">
                    <th><a [routerLink]="['create']">+</a></th>
                    <th translate>Name</th>
                    <th translate>QR</th>
                    <th translate>Catalog</th>
                    <th translate>Edit</th>
                    <th translate>Delete</th>
                </tr>
                <tr *ngFor="let business of businesses">
                    <td colspan="2"><a [routerLink]="[business.id]">{{business.name}}</a></td>
                    <td><a translate
                           [routerLink]="[business.id, 'qr']">QR</a></td>
                    <td><a translate
                           [routerLink]="[business.id,'catalog']">See</a></td>
                    <td><a translate
                           [routerLink]="[business.id, 'edit']">Edit</a></td>
                    <td><a translate
                           (click)="removeBusiness(business.id)"
                           routerLink=".">Delete</a></td>
                </tr>
                <tr *ngIf="!businesses.length">
                    <td translate>There are any business <a [routerLink]="['create']">create your first one</a></td>
                </tr>
            </table>
        </div>
        <ng-template #loading>
            <app-loader></app-loader>
        </ng-template>
    </div>
</div>