<form class="col-md-6"
      [formGroup]="busninessForm"
      (ngSubmit)="sendForm()">

  <div class="form-group text-right">
    <button class="btn btn-primary"
            type="submit">Save</button>
  </div>
  <div class="form-group">
    <label>Name</label>
    <input class="form-control"
           formControlName="name" />
  </div>
  <div class="form-group">
    <label>Type</label>
    <select class="form-control"
            formControlName="type">
      <option value="BAR">Bar</option>
      <option value="RES">Restaurant</option>
      <option value="PUB">Pub</option>
    </select>
  </div>
  <div formGroupName="address">
    <h3>Address</h3>
    <div class="form-group">
      <label>Address</label>
      <input class="form-control"
             formControlName="address" />
    </div>
    <div class="form-group">
      <label>City</label>
      <input class="form-control"
             formControlName="city" />
    </div>
    <div class="form-group">
      <label>Latitude</label>
      <input class="form-control"
             type="number"
             formControlName="lat" />
    </div>
    <div class="form-group">
      <label>Longitude</label>
      <input class="form-control"
             type="number"
             formControlName="lng" />
    </div>
    <div class="form-group">
      <label>Postal code</label>
      <input class="form-control"
             type="number"
             formControlName="postal_code" />
    </div>
    <div class="form-group">
      <label>State/Province</label>
      <input class="form-control"
             formControlName="state" />
    </div>
  </div>
</form>