<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a target="_blank"
                       href="https://latevacarta.click">
                        Corporate web
                    </a>
                </li>
                <li>
                    <a target="_blank"
                       href="https://latevacarta.click/blog">
                        Blog
                    </a>
                </li>
                <li>
                    <a target="_blank"
                       href="https://latevacarta.click">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} {{name}} - {{version}}
        </div>
    </div>
</footer>