<form class="col-md-4 offset-md-4"
      [formGroup]="loginForm"
      (ngSubmit)="sendForm()">
  <app-brand-image class="rounded mx-auto d-block"
                   width="300px"
                   height="300px"
                   position="center"
                   type="full-color"></app-brand-image>
  <div class="form-group">
    <label>Username/Email</label>
    <input class="form-control"
           formControlName="username" />
    <small *ngIf="isEmailEmpty"
           class="text-danger">Username/Email cannot be empty</small>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input class="form-control"
           type="password"
           formControlName="password" />
    <small *ngIf="isEmailEmpty"
           class="text-danger">Password cannot be empty</small>
  </div>
  <div class="form-group">

    <small class="text-danger">{{error}}</small>
  </div>
  <div class="form-group">
    <small>Forgot password <a [routerLink]="[passwordResetPath]">click here</a></small>
  </div>
  <div class="form-group">
    <a [routerLink]="[signupPath]">Signup</a>
  </div>

  <button class="btn btn-primary btn-lg"
          id="login-button"
          [disabled]="loginForm.invalid || loginForm.disabled">ok</button>
</form>
<!-- <div class="col-md-4 offset-md-4">
  use default login from Aut0
  <button class="btn btn-primary btn-lg"
          id="call-to-default-login"
          (click)="defaultLogin()">Default Aut0 Login</button>
</div> -->