<form class="col-md-4 offset-md-4"
      [formGroup]="signupForm"
      (ngSubmit)="sendForm()">
       <app-brand-image class="rounded mx-auto d-block"
                        width="300px"
                        height="300px"
                        position="center"
                        type="full-color"></app-brand-image>
       <div class="form-group">
              <label translate>Email</label>
              <input class="form-control"
                     type="email"
                     formControlName="email" />
              <small *ngIf="isEmailEmpty"
                     class="text-danger"
                     translate>Email cannot be empty</small>
              <small *ngIf="isEmailInvalid"
                     class="text-danger"
                     translate>This field should be a valid email</small>
       </div>
       <div class="form-group">
              <label translate>Password</label>
              <input class="form-control"
                     type="password"
                     formControlName="password" />
              <small *ngIf="isPasswordValid"
                     class="text-danger"
                     translate>Password can contain at least 1 uppercase, 1 lowercase and 1 number</small>
       </div>
       <div class="form-group">
              <label translate>Password</label>
              <input class="form-control"
                     type="password"
                     formControlName="passwordRepeat" />
              <small *ngIf="isSamePassword"
                     class="text-danger"
                     translate>Password confirmation should match with password</small>
       </div>
       <div class="form-group">
              <small class="text-danger"
                     translate>{{error}}</small>
       </div>
       <button class="btn btn-primary btn-lg"
               [disabled]="signupForm.invalid"
               translate>Sign up</button>
</form>