<form class="col-md-4 offset-md-4"
      [formGroup]="loginForm"
      (ngSubmit)="sendForm()">
  <app-brand-image class="rounded mx-auto d-block"
                   width="300px"
                   height="300px"
                   position="center"
                   type="full-color"></app-brand-image>
  <div class="form-group">
    <label translate>Username/Email</label>
    <input class="form-control"
           formControlName="username" />
    <small *ngIf="isEmailEmpty"
           class="text-danger"
           translate>Username/Email cannot be empty</small>
  </div>
  <div class="form-group">
    <label translate>Password</label>
    <input class="form-control"
           type="password"
           formControlName="password" />
    <small *ngIf="isEmailEmpty"
           translate
           class="text-danger">Password cannot be empty</small>
  </div>
  <div class="form-group">

    <small class="text-danger"
           translate>{{error}}</small>
  </div>
  <div class="form-group">
    <small translate>Forgot password
      <a [routerLink]="[passwordResetPath]"
         translate>click here</a>
    </small>
  </div>
  <div class="form-group">
    <a [routerLink]="[signupPath]"
       translate>Signup</a>
  </div>

  <button class="btn btn-primary btn-lg"
          id="login-button"
          [disabled]="loginForm.invalid || loginForm.disabled"
          translate>Ok</button>
</form>